In [ ]:
#importing pandas library
import pandas as pd

In [ ]:
#reading csv file 
data= pd.read_csv("Airbnb_Open_Data.csv")
data.head()

In [ ]:
#getting columns names from the data
data.columns.tolist()

['id',
 'NAME',
 'host id',
 'host_identity_verified',
 'host name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'country code',
 'instant_bookable',
 'cancellation_policy',
 'room type',
 'Construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'last review',
 'reviews per month',
 'review rate number',
 'calculated host listings count',
 'availability 365',
 'house_rules',
 'license']

In [11]:
# getting information abour the dataset
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 104.7 MB

In [ ]:
#deciding as which column to keep and which one to remove

columns_to_keep= ['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review']
columns_to_drop=['reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license','id']

In [16]:
print('keep:',len(columns_to_keep))
print('drop:',len(columns_to_delete))

keep: 19
drop: 7

In [224]:
#now accessing required column only in the DataFrame

newdata = pd.read_csv("Airbnb_Open_Data.csv",
                   usecols=columns_to_keep) #will only retrieve selected columns
                   

newdata.head(2)

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022

In [225]:
newdata.shape   #to ge the number of rows and columns

(102599, 19)

In [226]:
newdata.rename(columns={'NAME':'name'},inplace=True)  # only one column has name in uppercase so changed it to lower to match with ohters

In [227]:
#checking duplicates

newdata.duplicated().value_counts()   # There are 541 True that means we have to drop these.

False    102058
True        541
Name: count, dtype: int64

In [228]:
#Dropping duplciate values

newdata.drop_duplicates(inplace=True,ignore_index=True)

newdata.duplicated().value_counts()   # no true values left in the dataframe

False    102058
Name: count, dtype: int64

In [229]:
#Checking na vlaues

newdata.isna().sum()

name                        250
host id                       0
host_identity_verified      289
host name                   404
neighbourhood group          29
neighbourhood                16
lat                           8
long                          8
country                     532
country code                131
instant_bookable            105
cancellation_policy          76
room type                     0
Construction year           214
price                       247
service fee                 273
minimum nights              400
number of reviews           183
last review               15832
dtype: int64

In [231]:
newdata.drop(columns='last review',inplace=True)  ## dropped last review as it has high null percentage

In [232]:
#dropping null values

newdata.dropna(inplace=True,ignore_index=True)

In [233]:
# converting True False to 1,0
newdata['instant_bookable'].replace({True:1,False:0},inplace = True)

C:\Users\vivek\AppData\Local\Temp\ipykernel_9584\1530922311.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  newdata['instant_bookable'].replace({True:1,False:0},inplace = True)

In [234]:
newdata['instant_bookable'].value_counts()

instant_bookable
0    49878
1    49464
Name: count, dtype: int64

In [237]:
#replacing $ sign with '' so we can use the columns as integer instead of string

newdata['price'] = newdata['price'].str.replace("$","")
newdata['service fee'] = newdata['service fee'].str.replace("$","")

In [238]:
#removing comma 
newdata['price'] = newdata['price'].str.replace(",","")
newdata['service fee'] = newdata['service fee'].str.replace(",","")

In [239]:
#removing extra spaces
newdata['price'] = newdata['price'].str.strip()
newdata['service fee'] = newdata['service fee'].str.strip()

In [240]:
#Converting to integer data type
newdata['price']= newdata['price'].astype(int)
newdata['service fee'] = newdata['service fee'] .astype(int)

In [241]:
newdata.dtypes

name                       object
host id                     int64
host_identity_verified     object
host name                  object
neighbourhood group        object
neighbourhood              object
lat                       float64
long                      float64
country                    object
country code               object
instant_bookable            int64
cancellation_policy        object
room type                  object
Construction year         float64
price                       int64
service fee                 int64
minimum nights            float64
number of reviews         float64
dtype: object

In [242]:
#exporting cleaned data

newdata.to_csv("cleaned_data.csv",index=False)